<div class="row">
  <div class="col-6">
    <%= form_with(model: @organization, local: true) do |f| %>
      <div class="form-group">
        <%= label_tag(:organization_name, t(".name")) %>
        <%= f.text_area :name, class: "form-control", required: true %>
        <%= label_tag(:organization_inn, t(".inn")) %>
        <%= f.text_field :inn, class: "form-control" %>
        <%= label_tag(:organization_address, t(".address")) %>
        <%= f.text_area :address, class: "form-control" %>
        <%= label_tag(:organization_phone, t(".phone")) %>
        <%= f.text_field :phone, class: "form-control" %>
      </div>

      <%= submit_tag(t("main.save"), class: "btn btn-primary") %>
    <% end %>
  </div>
</div>

